div.input_area {
 text-align: center;
 margin-top: 20%;
}

div.display_box {
	padding-top: 1em;
	width: 50%;
	margin-left: 25%;
	text-align: center;
}

p.type_title {
    font-size: 1.3em;
}
p#syn_display {
    padding-bottom: 20px;
}
